doctype html
html(lang="en")
  head
    include includes/default-head.pug
    meta(name="description", content="Cratesinquire provides handy tools for crates.io packages analysis.")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.9.0/css/all.css", crossorigin="anonymous")
    link(rel="stylesheet", href="/bundle.css")
    script(type="module", src="/bundle.js")
    title Cratesinquire | crates.io insight and explorer
  body
    header
      .lhs
      .rhs
        a.banner.pass-href(href="https://github.com/apskhem/cratesinquire", target="_blank", rel="noopener noreferrer") 
          i.fab.fa-github
          span GITHUB REPO
    main#home
      .main-layout
        .main-container
          .header-grid
            .img-container
              img(src="/favicon.svg", alt="logo")
            div
              .title
                span.a CRATES
                span.b INQUIRE
              .desc Explore crate packages and inspect the details.
          include includes/search-bar.pug
          .error-msg
    include includes/footer.pug
