doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="application-name", content="Cratesinquire")
    meta(name="description", content="Cratesinquire provides handy tools for crates.io packages analysis.")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.9.0/css/all.css", crossorigin="anonymous")
    link(rel="stylesheet", href="/bundle.css")
    link(rel="shortcut icon", href="/favicon.png")
    script(type="module", src="/bundle.js")
    title Cratesinquire | crates.io insight and explorer
  body
    header
      div.lhs
      div.rhs
        a.github-container.badge(href="https://github.com/apskhem/cratesinquire", target="_blank")
          i.fab.fa-github
          span GITHUB REPO
    main#home
      div.main-layout
        div.main-container
          div.header-grid
            div.img-container
              img(src="/favicon.png", alt="logo")
            div
              div.app-title
                span.crate CRATES
                span.inquire INQUIRE
              div.desc Explore crate packages and inspect the details.
          div.search-bar-container
            div.search-bar-grid
              input.search-input(type="search", placeholder="Find a package...", spellcheck="false", )
              div.search-icon-container
                i.search-icon.fas.fa-search
              div.search-dropdown(hidden)
          div.error-msg
    footer
      div.lhs
        span Hosted on
        img(src="/img/heroku-logo.png", alt="hosted-on")
      div.rhs
        div
          span Made with
          i.fas.fa-heart
          span by
          a(href="https://github.com/apskhem" target="_blank") @apskhem
