@font-face {
  font-family: "Cabin";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Cabin/Cabin-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Cabin";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Cabin/Cabin-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Cabin";
  font-style: italic;
  font-weight: bold;
  src: url("/fonts/Cabin/Cabin-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Cabin";
  font-style: italic;
  font-weight: normal;
  src: url("/fonts/Cabin/Cabin-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Cabin/Cabin-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Cabin";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/Cabin/Cabin-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Cabin/Cabin-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Cabin";
  font-style: italic;
  font-weight: 600;
  src: url("/fonts/Cabin/Cabin-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/FiraCode/FiraCode-Regular.ttf") format("truetype");
}