@font-face {
    font-family: "Cabin";
    src: url("./fonts/Cabin/Cabin-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cabin";
    src: url("./fonts/Cabin/Cabin-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Cabin";
    src: url("./fonts/Cabin/Cabin-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Cabin";
    src: url("./fonts/Cabin/Cabin-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Cabin";
    src: url("./fonts/Cabin/Cabin-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Cabin";
    src: url("./fonts/Cabin/Cabin-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Cabin";
    src: url("./fonts/Cabin/Cabin-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Cabin";
    src: url("./fonts/Cabin/Cabin-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Fira Code";
    src: url("./fonts/FiraCode/FiraCode-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}