@media only screen and (max-width: 600px) {
  /* homepage */
  #home {
    .main-layout {
      max-width: 100vw;
    }
  
    .main-container {
      margin-top: 30%;
  
      .header-grid {
        display: flex;
        flex-flow: column;
        gap: 0;
        align-items: center;
  
        .img-container {
          width: 32%;
        }
      }
  
      .title {
        font-size: 1.5rem;
        text-align: center;
      }
  
      .desc {
        font-size: smaller;
      }
    }
  }

  /* footer */
  footer {
    flex-flow: column;
    align-items: flex-start;

    > .rhs {
      width: 100%;
      padding-top: 1em;
      margin-top: 1em;
      border-top: 1px solid #8695AC;
    }
  }

  /* crate page */
  #crate {
    .main-container {
      > section {
        &.search-container {
          > .search-ribbon {
            grid-template-columns: 1fr !important;
            gap: 0 !important;
            height: min-content !important;
  
            > .lhs,
            .rhs {
              justify-self: center;
            }
  
            > .mid {
              padding: 0 8px;
            }
          }
        }
  
        &.crate-header {
          flex-flow: column;
  
          > .rhs {
            align-items: flex-start !important;
  
            > div {
              gap: 0.5em;
            }
          }
        }
      }
    }
  }
}
