@import "./reset";
@import "./home";
@import "./responsive";
@import "./font";

html,
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Cabin", sans-serif;
  line-height: 1.5;
}