@use "@fortawesome/fontawesome-free/scss/fontawesome";
@use "@fortawesome/fontawesome-free/scss/solid";
@use "@fortawesome/fontawesome-free/scss/regular";
@use "@fortawesome/fontawesome-free/scss/brands";
@use "./base/font";
@use "./base/reset";
@use "./base/theme";
@use "./components/loader";
@use "./components/search-bar";
@use "./layout/footer";
@use "./layout/header";
@use "./pages/home";
@use "./pages/crate";

html,
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Cabin", sans-serif;
  line-height: 1.5;
}
