#crate {
  flex-grow: 1;
  padding: 1em;

  @media only screen and (max-width: 600px) {
    .main-container {
      > section {
        &.search-container {
          > .search-ribbon {
            grid-template-columns: 1fr !important;
            gap: 0 !important;
            height: min-content !important;
  
            > .lhs,
            .rhs {
              justify-self: center;
            }
  
            > .mid {
              padding: 0 8px;
            }
          }
        }
  
        &.crate-header {
          flex-flow: column;
  
          > .rhs {
            align-items: flex-start !important;
  
            > div {
              gap: 0.5em;
            }
          }
        }
      }
    }
  }

  .main-container {
    display: grid;
    gap: 1em;
    max-width: 900px;
    margin: 0 auto;

    > section {
      display: grid;
      gap: 0.5em;

      &.search-container {
        position: relative;

        > .search-ribbon {
          display: grid;
          grid-template-columns: auto 1fr auto;
          gap: 1em;
          height: 64px;
          background-color: #F3F5F7;
          border-radius: 8px;

          > .lhs, .rhs {
            display: flex;
            align-items: center;
            gap: 0.5em;
            padding: 0.5em 1em;
            
            img {
              width: 100%;
            }
          }

          > .mid {
            display: flex;
            align-items: center;

            .search-bar-container {
              flex-grow: 1;
            }
          }

          .title {
            font-size: smaller;
          }

          .img-container {
            height: calc(60px - 0.5em * 2);
          }
        }
      }

      &.crate-header {
        display: flex;
        justify-content: space-between;

        .header-icon-container {
          display: flex;
          align-items: center;
          min-width: 24px;
        }

        > .lhs {
          max-width: 640px;

          .header-links {
            display: flex;
            margin: 4px 0;
            gap: 0.5em;

            img {
              width: 24px;
              height: 24px;
            }
          }
  
          .header-date {
            color: #62727A;
            font-size: small;
          }
  
          .header-desc {
            display: flex;
            align-items: center;
            gap: 0.5em;
          }
  
          .header-keywords {
            display: flex;
            align-items: center;
            gap: 0.5em;
  
            .header-keywords-row {
              display: flex;
              gap: 0.5em;
  
              > a {
                padding: 0 8px;
                border-radius: 4px;
                color: #20A243;
                background-color: #CEF7C5;
              }
            }
          }
        }

        > .rhs {
          display: flex;
          flex-flow: column;
          align-items: flex-end;

          > div {
            display: flex;;
          }
        }
      }

      &.bar-chart {
        .bar-chart-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
      
          .view-swtiches {
            display: flex;
            background-color: #F3F5F7;
            border-radius: 8px;
            overflow: hidden;
        
            > div {
              padding: 8px 12px;
              cursor: pointer;
      
              &.sel {
                background-color: #FFEFD1;
                color: #C48B21;
              }
            }
          }
        }
  
        .bar-chart-container {
          display: grid;
          gap: 4px;

          .bar-row {
            display: grid;
            grid-template-columns: 32px 84px 1fr;
            gap: 4px;

            &.current {
              a {
                font-weight: bold;
              }

              .bar-content {
                background-color: #c3890f;
              }
            }

            &.yanked {
              a {
                color: #960D0D;
              }

              .version-track {
                > div {
                  border-color: #960D0D !important;
                  background-color: #FDCECE !important;
                }
              }
            }
      
            &.pre {
              a {
                color: #C48B21;
              }

              .version-track {
                > div {
                  border-color: #C48B21 !important;
                  background-color: #FFEFD1 !important;
                }
              }
            }

            > div, a {
              position: relative;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
        
              &.version-track {
                > div {
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  width: 8px;
                  height: 100%;
                  background-color: #F3F5F7;
                  transform: translate(-50%, -50%);
        
                  &.minor {
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                  }
        
                  &.major {
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    border: 2px solid #62727A;
                  }
                }
              }
          
              > .bar-content {
                display: flex;
                align-items: center;
                position: absolute;
                height: 100%;
                border-radius: 8px;
                background-color: #fdc659;
                font-size: x-small;
                transition: width 300ms;
          
                > span {
                  margin: 0 8px;
                }
              }
            }
          }
        }
      }
  
      &.crate-dep-tree {
        .dep-tree-display-container {
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 212px;
    
          svg {
            flex-grow: 1;
    
            text {
              font-family: "Cabin", sans-serif;
              cursor: pointer;
        
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }

      &.crate-features {
        .features-input-container {
          position: relative;
          height: 42px;
          border-radius: 8px;
          background-color: #F3F5F7;

          .features-input-grid {
            display: grid;
            grid-template-columns: 96px 1fr min-content;
            gap: 1em;
            padding: 4px 1em;

            select {
              height: 36px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .features-selection-container {

            }

            .features-display-pane {
              margin: auto 0;
              padding-left: 1em;
              border-left: 1px solid #62727A;
              font-family: "Fira Code", monospace;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;

              &.blinked {
                animation: blink 300ms;

                span {
                  &.string {
                    animation: blink-string 300ms;
                  }
  
                  &.keyword {
                    animation: blink-keyword 300ms;
                  }
                }
              }

              span {
                &.string {
                  color: #008200;
                }

                &.keyword {
                  color: #b21e00;
                }
              }
            }

            .copy-icon-container {
              display: flex;
              align-items: center;
              justify-content: center;

              i {
                font-size: large;
              }
            }
          }
        }

        .features-toggles {
          
        }
      }
      
      &.downloads-trend {
        .downloads-trend-display-container {
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 212px;
    
          svg {
            flex-grow: 1;
    
            text {
              font-family: "Cabin", sans-serif;
            }
          }
        }
      }
    }
  }
}

/* animation */
@keyframes blink {
  from {
    color: transparent;
  }
  to {
    color: currentColor;
  }
}

@keyframes blink-string {
  from {
    color: transparent;
  }
  to {
    color: #008200;
  }
}

@keyframes blink-keyword {
  from {
    color: transparent;
  }
  to {
    color: #b21e00;
  }
}
