#home {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 600px) {
    .main-layout {
      max-width: 100vw;
    }
  
    .main-container {
      margin-top: 30%;
  
      .header-grid {
        display: flex;
        flex-flow: column;
        gap: 0;
        align-items: center;
  
        .img-container {
          width: 32%;
        }
      }
  
      .title {
        font-size: 1.5rem;
        text-align: center;
      }
  
      .desc {
        font-size: smaller;
      }
    }
  }
}

.main-layout {
  flex-grow: 1;
  max-width: 612px;
  height: 100%;
  padding: 1em;
}

.main-container {
  display: grid;
  gap: 1em;
  margin-top: 35%;

  .header-grid {
    display: grid;
    grid-template-columns: 88px 1fr;
    gap: 1em;

    .img-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .title {
    font-size: 32pt;
    font-weight: bold;
    letter-spacing: 5px;

    > .b {
      color: #FDC659;
    }
  }

  .desc {
    color: #8695AC;
  }
}

/* global classes */
a.pass-href {
  &:active,
  &:hover {
    text-decoration: none;
  }
}

.interactable-icon {
  cursor: pointer;
  transition: 300ms;

  &:hover {
    color: #C3890F;
  }
}

.banner {
  display: flex;
  gap: 0.5em;
  align-items: center;
  padding: 4px 8px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 8px;
  transition: color border-color 300ms;

  &:active,
  &:hover {
    color: #FDC659;
    text-decoration: none;
    border-color: #FDC659;
  }
}

.flex-items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em 1em;
}

.color-content {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 0.5em;

  .color-container {
    $btn-size: 16px;

    position: relative;
    cursor: pointer;
    border: 2px solid;
    border-radius: 50%;
    opacity: 0.4;

    &.checked {
      opacity: 1;
    }
  }

  .color-text-container {
    .color-label {
      width: fit-content;
    }
  }
}

.toggle-content {
  display: grid;
  grid-template-columns: 32px 1fr;
  gap: 1em;

  .toggle-container {
    $btn-size: 16px;

    position: relative;
    height: 24px;

    &.checked {
      .toggle-button {
        left: 0;
        background-color: #FFEFD1;
        border-color: #FDC659;
        transform: translate(100%, -50%);
      }

      .toggle-line {
        background-color: #FDC659;
      }
    }

    .toggle-button {
      position: absolute;
      top: 50%;
      left: 0;
      width: $btn-size;
      height: $btn-size;
      cursor: pointer;
      background-color: white;
      border: 2px solid #62727A;
      border-radius: 50%;
      transition: 300ms;
      transform: translate(0, -50%);
    }

    .toggle-line {
      position: absolute;
      top: 50%;
      width: 100%;
      height: 2px;
      background-color: #62727A;
      border-radius: 1px;
      transform: translate(0, -50%);
    }
  }

  .toggle-text-container {
    .toggle-label {
      width: fit-content;

      &.default {
        font-weight: bold;
      }

      &.highlighted {
        color: #FDC659;
      }
    }

    .feature-sub {
      color: #8695AC;

      i {
        margin-right: 0.5em;
      }
    }
  }
}

.collapsable-container {
  display: grid;
  gap: 0.5em;

  .collapsable-content {
    max-height: calc((20px + 4px) * 20 - (4px * 2));
    overflow: hidden;
    transition: 500ms;
  }

  .collapsable-label {
    text-align: center;
    cursor: pointer;
    background-color: #F3F5F7;
    border-radius: 8px;
    transition: 300ms;

    &:not(:empty) {
      padding: 8px;
    }

    &:hover {
      color: #C48B21;
      background-color: #FFEFD1;
    }
  }
}

.error-msg {
  color: #960D0D;
  text-align: center;
}
