meta(charset="utf-8")
meta(http-equiv="x-ua-compatible", content="ie=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="application-name", content="Cratesinquire")
meta(name="robots", content="index, follow")

meta(property="og:type" content="website")
meta(property="og:locale" content="en_US")
meta(property="og:image" content="/img/open_graph.png")
meta(property="og:url" content="https://cratesinquire.info")
meta(property="og:description" content="Explore crate packages and inspect the details.")
meta(property="og:title" content="Cratesinquire | crates.io insight and explorer")
meta(property="og:site_name" content="Cratesinquire")

meta(name="twitter:card" content="summary")
meta(name="twitter:image" content="/img/open_graph.png")
meta(name="twitter:description" content="Explore crate packages and inspect the details.")
meta(name="twitter:title" content="Cratesinquire | crates.io insight and explorer")

link(rel="canonical", href="https://cratesinquire.info")
link(rel="shortcut icon", href="/favicon.svg")
link(rel="apple-touch-icon", href="/favicon.svg")
link(rel="mask-icon", href="/favicon.svg", color="white")
