meta(charset="utf-8")
meta(http-equiv="x-ua-compatible", content="ie=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="application-name", content="Cratesinquire")
meta(name="robots", content="noindex, nofollow")
meta(name="google-site-verification", content="wsErI_q-wcjxJ0PGpZYbQmFYpuJmHrJ2CNZ_PqSoTN4")
link(rel="shortcut icon", href="/favicon.svg")
link(rel="mask-icon", href="/favicon.svg", color="white")
