footer
  .lhs
    span Hosted on
    img(src="/img/heroku-logo.svg", alt="hosted-on")
  .rhs
    div
      span Made with
      i.fas.fa-heart
      span by
      a(rel="noreferrer", href="https://github.com/apskhem", target="_blank") @apskhem
