footer
  .lhs
    span Hosted on
    img(src="/img/digitalocean.svg", alt="hosted-on")
  .rhs
    div
      span Created
      span by
      a(rel="noreferrer", href="https://github.com/apskhem", target="_blank") @apskhem
