.search-bar-container
  .search-bar-grid
    input.search-input(type="search", placeholder="Find a package...", spellcheck="false")
    .search-icon-container
      i.search-icon.interactable-icon.fas.fa-search
    .search-dropdown(hidden)