.search-bar
  .search-bar__grid
    input.search-bar__input(type="search", placeholder="Find a package...", spellcheck="false")
    i.search-bar__icon.interactable-icon.fas.fa-search
    .search-bar__dropdown(hidden)
