html,
body {
  box-sizing: border-box;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[hidden] { display: none !important; }

* {
  box-sizing: inherit;
  user-select: none;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding-inline-start: 2em;
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-style: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

select {
  width: 100%;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' fill='none' stroke='black' stroke-width='12' stroke-linejoin='round' stroke-linecap='round'><path d='M8,25 L50,75 L92,25'/></svg>");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: 12px; /* carrent size */
  border: 0;
  appearance: none;

  &:focus {
    outline: none;
  }
}

input {
  width: 100%;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  user-select: text; /* Safari */
  user-select: all; /* Konqueror HTML */
  user-select: all; /* Firefox */
  user-select: all; /* Internet Explorer/Edge */
  user-select: all; /* supported by Chrome and Opera */
  background-color: transparent;
  border: 0;
  
  &:focus {
    outline: none;
  }

  &::-webkit-inner-spin-button {
    appearance: none;
  }

  &[type="search"]::-webkit-search-decoration,
  &[type="search"]::-webkit-search-cancel-button,
  &[type="search"]::-webkit-search-results-button,
  &[type="search"]::-webkit-search-results-decoration {
    appearance: none;
  }
}

button {
  display: block;
  margin: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: 0;

  &:focus {
    outline: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  outline-width: 0;

  &:active,
  &:hover {
    color: inherit;
    text-decoration: underline;
  }
  
  &:visited {
    color: inherit;
  }
}

/* addition from w3 css library */
article,
aside,
nav,
section {
  display: block;
}
