@media (prefers-color-scheme: dark) {
  html,
  body {
    color: white;
    background-color: #1A202C;
  }

  img[src="/favicon.svg"],
  img[src="/img/docs-icon.svg"],
  img[src="/img/github-icon.svg"],
  img[src="/img/homepage-icon.svg"] {
    filter: invert(1);
  }

  .search-bar-container {
    .search-bar-grid {
      background-color: #3A4556 !important;
    }
  }

  .search-ribbon,
  .features-input-container,
  .view-swtiches,
  .collapsable-label,
  .bar-row > .version-track > div {
    background-color: #2D3848 !important;
  }

  .banner {
    border-color: white !important;
  }
}

@media (prefers-color-scheme: light) {
  
}
